/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
} */
ul {
  margin-bottom: 0;
  text-decoration: none;
}
.custom-navbar {
 box-shadow: 0 1px 5px rgba(56, 54, 54, 50%);
 z-index: 150;
  /* padding: 5px; */
  /* position: fixed; */
}
.custom-navbar h2 {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  text-decoration: none;
  margin: 7px 20px;
  font-size: 30px;
  /* padding-top: 5px; */
  /* padding-bottom: 0; */
  /* margin-bottom: 1rem; */
  
}
.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  /* grid-gap: 15px; */
}
.mail-list {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
  z-index: 1;
}
.mail-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.side-bar {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  padding: 2px 2px;
box-shadow: 0 1px 5px rgba(56, 54, 54, 50%);
height: 100vh;
z-index: 99;
}
.view-mail {
  padding: 10px;
  border-left: 1px solid #00000038;
}
.new-mail {
  display: flex;
  flex-direction: column;
}
.new-mail-header {
  padding: 5px;
}
.new-mail input {
  outline: none;
  border: none;
  background-color: #eee;
  width: 100%;
  padding: 8px;
  opacity: 0.8;
  border-radius: 10px;
}
.new-mail textarea {
  outline: none;
  border: none;
  background-color: #eee;
  width: 100%;
  padding: 8px;
  opacity: 0.8;
  /* border-radius: 10px; */
}
.form-group {
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.Link {
  text-decoration: none;
  color : black;
}
.Link :hover {
  color : var(--primary-color);
}
.mail-header {
       margin: 10px 0px;
       background-color: var(--primary-color);
       /* width :  100%; */
       color: white;
       text-align: center;
       display: flex;
       justify-content: center;
       align-items: center;
       width : 100%;
       height: 60px;
       border-radius: 7px;
       box-shadow: 0 1px 5px rgba(56, 54, 54, 50%);
}
.Button {
    background-color: var(--primary-color);
    color: white;
}
/* .list :hover {
  background-color: white;
} */